*{
    margin:0;
    padding:0;
    box-sizing: border-box;;
}




/* header */
/* header end*/


/* Product card */
.product-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}
.product-container::-webkit-scrollbar {
    display: none;  /* Hide scrollbar for Chrome, Safari, and Opera */
}
.product-card {
    min-width: 200px;
    background: white;
    margin-right: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.product-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
/* Product card end */



